cardboard-gl {
  display: block;
  background: black;
  width: 100%;
  height: 100%;
}
.topControls {
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
  height: calc(100% - 40px);
}
.bottomControls {
  position: absolute;
  text-align: center;
  height: 40px;
  bottom: 0px;
  width: 100%;
}
.shadow {
  -webkit-appearance: none;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1%;
  width: 2%;
  height: 100%;
  background: black;
  -moz-box-shadow:    0px 0px 40px 50px #000000;
  -webkit-box-shadow: 0px 0px 40px 50px #000000;
  box-shadow:         0px 0px 40px 50px #000000;
}
.MiddleText {
  color: red;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 10%;
  width: 100%;
  height: 20%;
}
.LeftText {
  color: red;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 10%;
  width: 50%;
  height: 20%;
}
.RightText {
  color: red;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%;
  height: 20%;
}
